<%- include('header') -%>

<h1>Notendur</h1>

<div class="applications"><!-- TODO: change to users ??-->
  <% if (list.length === 0) { %>
    <p>Engar umsóknir.</p>
  <% } %>


  <!-- Todo: Breyta í Töflu eða Lista, stillt með css class users og user -->
  <!-- Todo: Skipta applications/process og .../delete út fyrir users/updateAdmins og .../delete-->

  <% list.forEach((user) => { %>
    <div class="application">
      <h2><%= user.nafn %></h2>
      <p><a href="mailto:<%= user.netfang %>"><%= user.netfang %></a></p>
      <p>Notandi skráður: <%= user.created.toISOString() %></p>
      <div class="actions">
        <div class="process">
          <% if (user.processed) { %>
            ✓ Notandi er Admin <%= user.updated.toISOString() %>
          <% } else { %>
            <form method="post" action="/applications/process">
              <input type="hidden" name="id" value="<%= user.id %>">
              <button>Breyta admin stöðu</button>
            </form>
          <% } %>
        </div>
        <div class="delete">
          <form method="post" action="/applications/delete">
            <input type="hidden" name="id" value="<%= user.id %>">
            <button>Eyða notanda</button>
          </form>
        </div>
      </div>
    </div>
  <% }); %>
</div>


<%- include('footer') -%>